{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  <div class="text-center">
    <h2>Bienvenido, {{ username }}</h2>
    <p>Esta es tu zona privada.</p>
    <p>Aquí podrías ver tus datos, mensajes, etc.</p>

    <!-- ejemplo de vulnerabilidad XSS intencionada -->
    <form method="get">
      <label>Mensaje público:</label>
      <input type="text" name="msg" class="form-control" placeholder="Escribe algo...">
    </form>
    {% if request.args.get('msg') %}
      <p class="mt-3 alert alert-warning">
        Mensaje recibido: {{ request.args.get('msg') | safe }}
      </p>
    {% endif %}
  </div>
{% endblock %}